<%- include('../head.ejs') %> 

<body>
    <%- include('../home.ejs') %>

    <%- include('../about.ejs') %> 

    <%- include('../contact.ejs') %> 

    <%- include('../footer.ejs') %> 

    <%- include('../scripts.ejs') %> 
</body>

</html>